/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

.bg-dark {
  background-color: black !important;
  color: white;
  mix-blend-mode: difference;
}

.bg-dark select {
  background-color: black !important;
  color: white;
  mix-blend-mode: difference;
}